@{
    ViewData["Title"] = "Rezerwacja zrealizowana";
}

<header>
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <a asp-area="" asp-controller="Home" asp-action="Index">Strona Główna</a>
</header>