@{
    ViewData["Title"] = "Home Page";
}
<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
<div class="text-center">
    <h1 class="display-4">ATH Bike Rental System</h1>
    <p>Informacje o portalu</p>
    <div>
        <img class="img_front" src="~/IMG/bike2.png" />
        <img class="img_front" src="~/IMG/bike1.jfif" />
    </div>
</div>
